@* @using Domain.DTO.UIDtos
@using Domain.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@model TripsDto
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start Breadcrumb section -->
<div class="breadcrumb-section" style="background-image: url(../assets/img/inner-pages/breadcrumb-bg1.png), linear-gradient(87.29deg, #FDF8E7 0%, #E4FFF0 99.71%);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <div class="banner-content">
                    <h1>Auction Details</h1>
                    <ul class="breadcrumb-list">
                        <li><a href="/Home/Index">Home</a></li>
                        <li>Auction Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb section -->
<!-- Start Auction Details section -->
<div class="auction-details-section pt-110 mb-110">
    <div class="container-fluid">
        <div class="row gy-5">
            <div class="col-xl-7">
                <div class="auction-details-img">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-img1" role="tabpanel">
                            <div class="auction-details-tab-img">
                                <img src="@Model.PrivewImageUrl" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="auction-details-content">
                    <div class="batch">
                        <span>Lot: # @Model.SKU</span>
                    </div>
                    <h1>@Model.Name</h1>
                    <div class="price-area">
                        <span>Current Bid at:</span>
                        <strong id="bid-@Model.Id">$@Model.CurrentBiddingPrice</strong>
                    </div>
                    <div class="coundown-area">
                        <h6>Auction Will Be End:</h6>
                        <div class="countdown-timer">
                            <ul data-countdown="@Model.EndDate">
                                <li data-days="00">80 <span>Days</span> <span>Days</span></li>
                                <li class="clone">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="4" height="13" viewBox="0 0 4 13">
                                        <path d="M0 11.0633C0 11.5798 0.186992 12.0317 0.560976 12.419C0.95122 12.8063 1.43089 13 2 13C2.58537 13 3.06504 12.8063 3.43903 12.419C3.81301 12.0317 4 11.5798 4 11.0633C4 10.5146 3.81301 10.0546 3.43903 9.68343C3.06504 9.29609 2.58537 9.10242 2 9.10242C1.43089 9.10242 0.95122 9.29609 0.560976 9.68343C0.186992 10.0546 0 10.5146 0 11.0633ZM0 1.96089C0 2.49348 0.186992 2.95345 0.560976 3.34078C0.95122 3.72812 1.43089 3.92179 2 3.92179C2.58537 3.92179 3.06504 3.72812 3.43903 3.34078C3.81301 2.95345 4 2.49348 4 1.96089C4 1.42831 3.81301 0.968343 3.43903 0.581006C3.06504 0.193669 2.58537 0 2 0C1.43089 0 0.95122 0.193669 0.560976 0.581006C0.186992 0.968343 0 1.42831 0 1.96089Z"></path>
                                    </svg>
                                </li>
                                <li data-hours="00">19 <span>Hours</span> <span>Hours</span></li>
                                <li class="clone">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="4" height="13" viewBox="0 0 4 13">
                                        <path d="M0 11.0633C0 11.5798 0.186992 12.0317 0.560976 12.419C0.95122 12.8063 1.43089 13 2 13C2.58537 13 3.06504 12.8063 3.43903 12.419C3.81301 12.0317 4 11.5798 4 11.0633C4 10.5146 3.81301 10.0546 3.43903 9.68343C3.06504 9.29609 2.58537 9.10242 2 9.10242C1.43089 9.10242 0.95122 9.29609 0.560976 9.68343C0.186992 10.0546 0 10.5146 0 11.0633ZM0 1.96089C0 2.49348 0.186992 2.95345 0.560976 3.34078C0.95122 3.72812 1.43089 3.92179 2 3.92179C2.58537 3.92179 3.06504 3.72812 3.43903 3.34078C3.81301 2.95345 4 2.49348 4 1.96089C4 1.42831 3.81301 0.968343 3.43903 0.581006C3.06504 0.193669 2.58537 0 2 0C1.43089 0 0.95122 0.193669 0.560976 0.581006C0.186992 0.968343 0 1.42831 0 1.96089Z"></path>
                                    </svg>
                                </li>
                                <li data-minutes="00">26 <span>Mint</span> <span>Minutes</span></li>
                                <li class="clone">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="4" height="13" viewBox="0 0 4 13">
                                        <path d="M0 11.0633C0 11.5798 0.186992 12.0317 0.560976 12.419C0.95122 12.8063 1.43089 13 2 13C2.58537 13 3.06504 12.8063 3.43903 12.419C3.81301 12.0317 4 11.5798 4 11.0633C4 10.5146 3.81301 10.0546 3.43903 9.68343C3.06504 9.29609 2.58537 9.10242 2 9.10242C1.43089 9.10242 0.95122 9.29609 0.560976 9.68343C0.186992 10.0546 0 10.5146 0 11.0633ZM0 1.96089C0 2.49348 0.186992 2.95345 0.560976 3.34078C0.95122 3.72812 1.43089 3.92179 2 3.92179C2.58537 3.92179 3.06504 3.72812 3.43903 3.34078C3.81301 2.95345 4 2.49348 4 1.96089C4 1.42831 3.81301 0.968343 3.43903 0.581006C3.06504 0.193669 2.58537 0 2 0C1.43089 0 0.95122 0.193669 0.560976 0.581006C0.186992 0.968343 0 1.42831 0 1.96089Z"></path>
                                    </svg>
                                </li>
                                <li data-seconds="00">17 <span>Sec</span> <span>Seconds</span></li>
                            </ul>
                        </div>
                        <span><strong>Ending On:</strong> @Model.EndDate.ToString("MM-dd-yyyy")</span>
                    </div>
                    <div class="quantity-area">
                        @if (Model.EndDate < DateTime.Now) 
                        {
                            <a class="primary-btn btn-hover">
                                Auction Ended
                                <span></span>
                            </a>
                        }
                        else if (SignInManager.IsSignedIn(User)) 
                        {
                            <h6>Your Max Bid:</h6>
                            <div class="quantity-counter-and-btn-area">
                                <div class="quantity-counter">
                                    <input class="quantity__input" id="newBid-@Model.Id"
                                           value="@(Model.CurrentBiddingPrice + 1)"
                                           placeholder="Enter your bid">
                                </div>
                                <button class="primary-btn btn-hover" onclick="placeBid(@Model.Id)">
                                    Place Bid
                                    <span></span>
                                </button>
                            </div>
                        }
                        else 
                        {
                            <a href="/Account/Login" class="primary-btn btn-hover">
                                Login to Bid
                                <span></span>
                            </a>
                        }
                    </div>

                    <div class="payment-method">
                        <h6>Guaranted Safe Checkout</h6>
                        <ul class="payment-card-list">
                            <li><img src="../../assets/img/inner-pages/payment-img1.svg" alt=""></li>
                            <li><img src="../../assets/img/inner-pages/payment-img2.svg" alt=""></li>
                            <li><img src="../../assets/img/inner-pages/payment-img3.svg" alt=""></li>
                            <li><img src="../../assets/img/inner-pages/payment-img4.svg" alt=""></li>
                            <li><img src="../../assets/img/inner-pages/payment-img5.svg" alt=""></li>
                            <li><img src="../../assets/img/inner-pages/payment-img6.svg" alt=""></li>
                            <li><img src="../../assets/img/inner-pages/payment-img7.svg" alt=""></li>
                        </ul>
                    </div>
                    <ul class="question-and-wishlist-area">
                        <li>
                            <a href="/Home/ContactUs">
                                <span>
                                    <svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <path d="M5.5 0C2.46015 0 0 2.45988 0 5.5C0 8.5398 2.45988 11 5.5 11C8.53985 11 11 8.54012 11 5.5C11 2.46015 8.54012 0 5.5 0ZM5.5 10.2326C2.89046 10.2326 0.767443 8.10956 0.767443 5.5C0.767443 2.89044 2.89046 0.767443 5.5 0.767443C8.10956 0.767443 10.2326 2.89044 10.2326 5.5C10.2326 8.10956 8.10956 10.2326 5.5 10.2326Z" />
                                            <path d="M5.337 6.95948C5.03293 6.95948 4.78679 7.21287 4.78679 7.51692C4.78679 7.81377 5.02569 8.07439 5.337 8.07439C5.64831 8.07439 5.89443 7.81377 5.89443 7.51692C5.89443 7.21287 5.64105 6.95948 5.337 6.95948ZM5.4311 2.73877C4.45373 2.73877 4.00488 3.31797 4.00488 3.7089C4.00488 3.99124 4.24379 4.12157 4.43925 4.12157C4.83021 4.12157 4.67094 3.56409 5.40938 3.56409C5.77135 3.56409 6.06096 3.72338 6.06096 4.05641C6.06096 4.44734 5.65553 4.67176 5.41662 4.87447C5.20665 5.05543 4.93157 5.35228 4.93157 5.9749C4.93157 6.35135 5.03293 6.45995 5.32974 6.45995C5.68447 6.45995 5.75687 6.30069 5.75687 6.1631C5.75687 5.78665 5.76411 5.56947 6.1623 5.25816C6.35777 5.10613 6.97312 4.61382 6.97312 3.9333C6.97312 3.25278 6.35777 2.73877 5.4311 2.73877Z" />
                                        </g>
                                    </svg>
                                </span>
                                Ask a question
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="auction-details-description-area">
                    <div class="auction-details-description-nav mb-50">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-description-tab" data-bs-toggle="tab" data-bs-target="#nav-description" type="button" role="tab" aria-controls="nav-description" aria-selected="true">Description</button>
                                <button class="nav-link" id="nav-add-info-tab" data-bs-toggle="tab" data-bs-target="#nav-add-info" type="button" role="tab" aria-controls="nav-add-info" aria-selected="false">Additional Information</button>
                            </div>
                        </nav>
                    </div>
                    <div class="auction-details-description-tab">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
                                <div class="description-content">
                                    <h3>Description</h3>
                                    <p>@Model.Description</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-add-info" role="tabpanel" aria-labelledby="nav-add-info-tab">
                                <div class="addithonal-information">
                                    <table class="table total-table2">
                                        <tbody>
                                            <tr>
                                                <td><span>SKU</span></td>
                                                <td>@Model.SKU</td>
                                            </tr>
                                            <tr>
                                                <td><span>Category</span></td>
                                                <td>@Model.Categoryname</td>
                                            </tr>
                                            <tr>
                                                <td><span>Tags</span></td>
                                                <td>@Model.Tags</td>
                                            </tr>
                                            <tr>
                                                <td><span>Weight</span></td>
                                                <td>@Model.Weight</td>
                                            </tr>
                                            <tr>
                                                <td><span>Dimensions</span></td>
                                                <td>@Model.Dimensions</td>
                                            </tr>
                                            <tr>
                                                <td><span>Brand</span></td>
                                                <td>@Model.Brand </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Auction Details section -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/auctionHub")
        .configureLogging(signalR.LogLevel.Information)
        .build();

    connection.start().then(() => {
        console.log("Connected to AuctionHub");
    }).catch(err => console.error("SignalR Connection Error: ", err));

    // Listen for bid updates
    connection.on("ReceiveBidUpdate", (itemId, newBid) => {
        console.log(`New bid for item ${itemId}: ${newBid}`);

        const bidElement = document.getElementById(`bid-${itemId}`);
        if (bidElement) {
            bidElement.innerText = `$${newBid.toFixed(2)}`;
        }
    });

    // Function to send a new bid
    function placeBid(itemId) {
        const inputField = document.getElementById(`newBid-${itemId}`);
        if (!inputField) {
            console.error("Bid input field not found.");
            return;
        }

        const newBid = parseFloat(inputField.value);
        if (!isNaN(newBid) && newBid > 0) {
            connection.invoke("UpdateBid", itemId, newBid)
                .catch(err => console.error("Error placing bid: ", err));
        } else {
            alert("Please enter a valid bid amount.");
        }
    }
</script>

 *@