@model Domain.DTO.AdminDtos.RouteDto
@{
    ViewData["Title"] = "تعديل المسار";
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y" id="app">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">الرئيسية/</span>تعديل الفئة</h4>
    <div class="row">
        <div class="col-12-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0"></h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">الاسم</label>
                            <input type="text" name="Name" id="Name" class="form-control" value="@Model.Name" placeholder="ادخل الاسم">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label"> السعر</label>
                            <input type="text" name="Price" value="@Model.Price" id="Price" class="form-control" placeholder="ادخل رقم الهاتف">
                        </div>
                        <div class="mb-3">
                            <img src="@Model.PrivewImageUrl" height="200" width="200" />
                            <input type="text" hidden name="PreviewImageUrl" class="form-control" value="@Model.PrivewImageUrl">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">صورة العرض</label>
                            <input type="file" class="form-control" name="PrivewImage" id="PrivewImage" placeholder="ارفق صورة العرض" required>
                        </div>
                        <button type="button" class="btn btn-primary d-inline" id="EditButton" onclick="EditData()">تعديل</button>
                        <button class="btn btn-primary d-none" type="button" id="LoadingButton" disabled>
                            <span class="spinner-border me-1" role="status" aria-hidden="true"></span>
                            جاري التعديل ...
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function EditData() {
        var Name = $('#Name').val();
        var Price = $('#Price').val();
        var PrivewImage = document.getElementById("PrivewImage").files;

        if ( !Name) {
            OpenMessageModal("warning", "الرجاء ادخال الحقول المطلوبة");
            return false;
        }

        ShowLoadingButton("EditButton", "LoadingButton");

        var formData = new FormData();
        formData.append("Id", "@Model.Id");
        formData.append("Price", Price);
        formData.append("Name", Name);
        formData.append("PrivewImage", PrivewImage[0]);

        Edit("@controller", formData);
    }
</script>