@model Domain.DTO.AdminDtos.TripsDto
@{
    ViewData["Title"] = "Edit Trip";
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y" id="app">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Home / </span>Edit Trip</h4>
    <div class="row">
        <div class="col-12-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0"></h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">Name</label>
                            <input type="text" name="Name" id="Name" class="form-control" value="@Model.Name" placeholder="Enter name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">Number of Seats</label>
                            <input type="number" name="NoOfSeats" id="NoOfSeats" class="form-control" value="@Model.NoOfSeats" placeholder="Enter number of seats">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">Date</label>
                            <input type="datetime-local" name="Date" id="Date" class="form-control" value="@Model.Date" placeholder="Enter date">
                        </div>
                        <div class="mb-3" id="CategoryDiv">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">Route</label>
                            <select class="form-select" name="RouteId" id="RouteId" style="width:100%">
                                <option value="0">Select route</option>
                            </select>
                        </div>
                        <div class="mb-3" id="CategoryDiv">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">Driver</label>
                            <select class="form-select" name="DriverId" id="DriverId" style="width:100%">
                                <option value="0">Select driver</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary d-inline" id="EditButton" onclick="EditData()">Edit</button>
                        <button class="btn btn-primary d-none" type="button" id="LoadingButton" disabled>
                            <span class="spinner-border me-1" role="status" aria-hidden="true"></span>
                            Editing ...
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/site.js"></script>
<script>
    $(document).ready(function () {
        GetRoutes("@Model.RouteId");
        GetSDrivers("@Model.DriverId");
    });
    function EditData() {
        var Name = $('#Name').val();
        var Date = $('#Date').val();
        var NoOfSeats = $('#NoOfSeats').val();
        var DriverId = $('#DriverId').val();
        var RouteId = $('#RouteId').val();

        if (!Name && !NoOfSeats) {
            OpenMessageModal("warning", "Please fill in the required fields.");
            return false;
        }

        ShowLoadingButton("EditButton", "LoadingButton");

        var formData = new FormData();
        formData.append("Id", "@Model.Id");
        formData.append("Name", Name);
        formData.append("Date", Date);
        formData.append("NoOfSeats", NoOfSeats);
        formData.append("DriverId", DriverId);
        formData.append("RouteId", RouteId);
        Edit("@controller", formData);
    }
</script>
