@model Domain.DTO.AdminDtos.DriverDto
@{
    ViewData["Title"] = "Edit Driver Information";
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y" id="app">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Dashboard/</span>Edit Driver Information</h4>
    <div class="row">
        <div class="col-12-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0"></h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">Name</label>
                            <input type="text" name="Name" id="Name" class="form-control" value="@Model.Name" placeholder="Enter the name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control" name="Email" id="Email" value="@Model.Email" placeholder="Enter the email" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">Password</label>
                            <input type="text" name="Password" id="Password" value="@Model.Password" class="form-control" placeholder="Enter the password">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">Phone Number</label>
                            <input type="number" name="PhoneNumber" id="PhoneNumber" class="form-control" value="@Model.PhoneNumber" placeholder="Enter the phone number">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">Address</label>
                            <input type="text" class="form-control" name="Address" id="Address" value="@Model.Address" placeholder="Enter the address" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">Car Type</label>
                            <input type="text" class="form-control" name="Car" id="Car" value="@Model.Car" placeholder="Enter the car type" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">Plate Number</label>
                            <input type="text" class="form-control" name="PlateNumber" id="PlateNumber" value="@Model.PlateNumber" placeholder="Enter the plate number" required>
                        </div>
                        <div class="mb-3">
                            <img src="@Model.ProfileImageUrl" height="200" width="200" />
                            <input type="text" hidden name="ProfileImageUrl" class="form-control" value="@Model.ProfileImageUrl">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">Profile Image</label>
                            <input type="file" class="form-control" name="ProfileImage" id="ProfileImage" placeholder="Attach profile image" required>
                        </div>
                        <div class="mb-3">
                            <img src="@Model.IdImageUrl" height="200" width="200" />
                            <input type="text" hidden name="IdImageUrl" class="form-control" value="@Model.IdImageUrl">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">ID Image</label>
                            <input type="file" class="form-control" name="IdImage" id="IdImage" placeholder="Attach ID image" required>
                        </div>
                        <div class="mb-3" id="CategoryDiv">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">Route</label>
                            <select class="form-select" name="RouteId" id="RouteId" style="width:100%">
                                <option value="0">Choose Route</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary d-inline" id="EditButton" onclick="EditData()">Edit</button>
                        <button class="btn btn-primary d-none" type="button" id="LoadingButton" disabled>
                            <span class="spinner-border me-1" role="status" aria-hidden="true"></span>
                            Editing...
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/site.js"></script>
<script>
    $(document).ready(function () {
        GetRoutes(@Model.RouteId);
    });
    function EditData() {
        var ProfileImageUrl = $('#ProfileImageUrl').val();
        var CoverImageUrl = $('#CoverImageUrl').val();
        var RouteId = $('#RouteId').val();
        var IdImageUrl = $('#IdImageUrl').val();
        var Name = $('#Name').val();
        var Email = $('#Email').val();
        var Address = $('#Address').val();
        var PhoneNumber = $('#PhoneNumber').val();
        var Password = $('#Password').val();
        var Car = $('#Car').val();
        var PlateNumber = $('#PlateNumber').val();
        var ProfileImage = document.getElementById("ProfileImage").files;
        var IdImage = document.getElementById("IdImage").files;

        if (!Name && !MainDescription) {
            OpenMessageModal("warning", "Please enter the required fields");
            return false;
        }

        ShowLoadingButton("EditButton", "LoadingButton");

        var formData = new FormData();
        formData.append("Id", "@Model.Id");
        formData.append("IdImageUrl", IdImageUrl);
        formData.append("CoverImageUrl", CoverImageUrl);
        formData.append("RouteId", RouteId);
        formData.append("ProfileImageUrl", ProfileImageUrl);
        formData.append("Name", Name);
        formData.append("Email", Email);
        formData.append("Address", Address);
        formData.append("PhoneNumber", PhoneNumber);
        formData.append("Password", Password);
        formData.append("Car", Car);
        formData.append("PlateNumber", PlateNumber);
        formData.append("ProfileImage", ProfileImage[0]);
        formData.append("IdImage", IdImage[0]);

        Edit("@controller", formData);
    }
</script>
