@model Domain.DTO.AdminDtos.DriverDto
@{
    ViewData["Title"] = "تعديل معلومات السائق";
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y" id="app">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">الرئيسية/</span>تعديل معلومات التاجر</h4>
    <div class="row">
        <div class="col-12-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0"></h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">الاسم</label>
                            <input type="text" name="Name" id="Name" class="form-control" value="@Model.Name" placeholder="ادخل الاسم">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">البريد الالكتروني</label>
                            <input type="text" class="form-control" name="Email" id="Email" value="@Model.Email" placeholder="ادخل البريد الالكتروني" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">كلمة المرور</label>
                            <input type="text" name="Password" id="Password" value="@Model.Password" class="form-control" placeholder="ادخل كلمة المرور">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">رقم الهاتف</label>
                            <input type="number" name="PhoneNumber" id="PhoneNumber" class="form-control" value="@Model.PhoneNumber" placeholder="ادخل رقم الهاتف">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">العنوان</label>
                            <input type="text" class="form-control" name="Address" id="Address" value="@Model.Address" placeholder="ادخل العنوان" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">نوع السيارة</label>
                            <input type="text" class="form-control" name="Car" id="Car" value="@Model.Car" placeholder="ادخل نوع السيارة" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">رقم اللوحة</label>
                            <input type="text" class="form-control" name="PlateNumber" id="PlateNumber" value="@Model.PlateNumber" placeholder="ادخل رقم اللوحة" required>
                        </div>
                        <div class="mb-3">
                            <img src="@Model.ProfileImageUrl" height="200" width="200" />
                            <input type="text" hidden name="ProfileImageUrl" class="form-control" value="@Model.ProfileImageUrl">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">صورة الملف الشخصي</label>
                            <input type="file" class="form-control" name="ProfileImage" id="ProfileImage" placeholder="ارفق صورة الملف الشخصي" required>
                        </div>
                        <div class="mb-3">
                            <img src="@Model.IdImageUrl" height="200" width="200" />
                            <input type="text" hidden name="IdImageUrl" class="form-control" value="@Model.IdImageUrl">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">صورة الهوية</label>
                            <input type="file" class="form-control" name="IdImage" id="IdImage" placeholder="ارفق صورة الهوية" required>
                        </div>
                        <div class="mb-3" id="CategoryDiv">
                            <label class="form-label" style="color:red">*</label>
                            <label class="form-label">المسار</label>
                            <select class="form-select" name="RouteId" id="RouteId" style="width:100%">
                                <option value="0">اختر المسار</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary d-inline" id="EditButton" onclick="EditData()">تعديل</button>
                        <button class="btn btn-primary d-none" type="button" id="LoadingButton" disabled>
                            <span class="spinner-border me-1" role="status" aria-hidden="true"></span>
                            جاري الانشاء ...
                        </button>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/site.js"></script>
<script>
    $(document).ready(function () {
        GetRoutes(@Model.RouteId);
    });
    function EditData() {
        var ProfileImageUrl = $('#ProfileImageUrl').val();
        var CoverImageUrl = $('#CoverImageUrl').val();
        var RouteId = $('#RouteId').val();
        var IdImageUrl = $('#IdImageUrl').val();
        var Name = $('#Name').val();
        var Email = $('#Email').val();
        var Address = $('#Address').val();
        var PhoneNumber = $('#PhoneNumber').val();
        var Password = $('#Password').val();
        var Car = $('#Car').val();
        var PlateNumber = $('#PlateNumber').val();
        var ProfileImage = document.getElementById("ProfileImage").files;
        var IdImage = document.getElementById("IdImage").files;

        if (!Name && !MainDescription) {
            OpenMessageModal("warning", "الرجاء ادخال الحقول المطلوبة");
            return false;
        }

        ShowLoadingButton("EditButton", "LoadingButton");

        var formData = new FormData();
        formData.append("Id", "@Model.Id");
        formData.append("IdImageUrl", IdImageUrl);
        formData.append("CoverImageUrl", CoverImageUrl);
        formData.append("RouteId", RouteId);
        formData.append("ProfileImageUrl", ProfileImageUrl);
        formData.append("Name", Name);
        formData.append("Email", Email);
        formData.append("Address", Address);
        formData.append("PhoneNumber", PhoneNumber);
        formData.append("Password", Password);
        formData.append("Car", Car);
        formData.append("PlateNumber", PlateNumber);
        formData.append("ProfileImage", ProfileImage[0]);
        formData.append("IdImage", IdImage[0]);

        Edit("@controller", formData);
    }
</script>